/* Colors: Navy: #013852, Orange: #F27523....Font: Roboto 500, 400, 300 */

/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/clouds.png"), linear-gradient(180deg, #1976D2, #BBDEFB);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.small-logo {
  height: 50px;
}
.large-logo {
  height: 15rem;
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

/* HEADER */

.header {
  height: 70px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.nav a {
  font-size: 1rem;
  color: #212121;
  text-decoration: none;
  padding: .5rem 1rem;
  transition: .4s;
}
.nav a:hover {
  color: #F27523;
}
.nav a:last-child {
  padding: .5rem 0 .5rem 1rem;
}
.nav a:first-child {
  margin-right: auto;
}

/* BALLOON SECTION */

.balloon-section {
  padding: 10rem 0;
}

.balloon-figure {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.balloon-img {
  width: 70%;
}
.balloon-figure h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: -0.5rem;
}
.balloon-figure h1:last-of-type {
  font-weight: 500;
  font-size: 4.4rem;
}

/* TREE SECTION */

.tree-section {
  height: 80rem;
  margin: 0;
  padding: 10rem 0;
  background-image: url("../img/tree.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.tree-content {
  text-align: center;
  color: white;
}


/* BUSINESS LEADERS */

.business-section {
  height: 100vh;
  font-weight: 500;
  background-image: url("../img/biz-leaders.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 0;
  overflow: hidden;
}
.biz-leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #F27523;
}
