/* Colors: Navy: #013852 or #022B44, Orange: #F27523....Font: Roboto 500, 400, 300 */

/* GENERAL */
html, body {
  overflow-x: hidden;
}

html {
  background: linear-gradient(180deg, #1976D2, #64B5F6);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", sans-serif;
  background-image: url("../img/clouds.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.container {
  display: block;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33.3%;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: 1s;
}

.col-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: 1s;
}
@media (max-width: 600px) {
  .col-4 {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
  .col-6 {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
  }
}
.col-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 83.3333%;
  padding: 0 1rem;
  box-sizing: border-box;
  text-align: center;
}

.small-logo {
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
.large-logo {
  height: 15rem;
}
@media (max-width: 600px) {
  .large-logo {
    height: auto;
    width: 95%;
  }
}
.center-dark {
  text-align: center;
  color: #013852;
  transition: 1s;
  font-weight: bold;
}
h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
}
h4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}
h5 {
  text-transform: uppercase;
  font-size: 1.6rem;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: .8rem;
  }
  h5 {
    font-size: .6rem;
  }
}
@media (min-width: 2000px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3.2rem;
  }
}

/* LOADER */

.loader {
  height: 100vh;
  background: linear-gradient(180deg, #1976D2, #64B5F6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.load-clouds {
  min-width: 100%;
  animation-name: load-clouds;
  animation-duration: 5s;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes load-clouds {
  from { top: 0; }
  to { top: 600px; }
}

/* HEADER */

.header {
  height: 70px;
  /*background-color: rgba(1,56,82, .1);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 98;
}
.nav {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.nav-link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding: .4rem 1rem;
  text-transform: uppercase;
  transition: .2s;
}
.nav-link:hover {
  color: #F27523;
}
.nav-link:last-child {
  padding: .4rem 0 .4rem 1rem;
}

.menu {
  position: absolute;
  top: .8rem;
  right: .8rem;
  color: white;
  display: none;
}
.menu:hover {
  color: #F27523;
}

@media (max-width: 600px) {
  .menu {
    display: block;
  }
  .header {
    height: auto;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    float: none;
    padding: 0;
    margin: 0;
  }
  .nav-link {
    padding: .5rem 0;
    margin: 0;
    width: 100%;
    background-color: #013852;
    display: none;
  }
  .nav-link:last-child {
    padding: .5rem 0;
    margin: 0;
  }

  .small-logo {
    display: block;
    position: static;
    margin: 0 auto;
    transform: translate(0, 0);
  }

}

/* BALLOON SECTION */

.balloon-section {
  padding: 1rem 0 10rem 0;
}

.balloon-figure {
  width: 70%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: balloon-rise;
  animation-duration: 4s;
  position: relative;
  text-align: center;
  color: white;
}
@media (max-width: 600px) {
  .balloon-figure {
    width: 100%;
  }
}
@keyframes balloon-rise {
  0% { top: 800px; }
  30% { top: 800px; }
  100% { top: 0; }
}

.balloon-img {
  width: 45%;
}
.balloon-figure h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 2px 2px 4px #1976D2;
  font-weight: bold;
  margin-top: -1rem;
}
.balloon-figure h2 {
  text-shadow: 2px 2px 4px #1976D2;
  letter-spacing: .1rem;
  margin-top: -1rem;
}
.balloon-figure h3 {
  color: white;
  text-shadow: 2px 2px 4px #1976D2;
}
@media (max-width: 600px) {
  .balloon-figure h1, .balloon-figure h2 {
    margin-top: 0;
  }
}
/* TREE SECTION */

.tree-section {
  margin: 0;
  padding: 0 0 0 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.tree-image {
  display: block;
  min-width: 100%;
}
.tree-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 3px 3px 6px #1976D2;
}

.way-up {
  top: 8%;
}
.way-up h2 {
  font-weight: bold;
}
.way-up h4 {
  letter-spacing: .3rem;
}
.digging-deep {
  font-weight: 700;
  top: 80%;
  color: white;
  font-family: "Zeyada", cursive;
  text-shadow: 6px 6px 8px #3E1F10;
}

/* BUSINESS LEADERS */

.business-section {
  font-weight: 500;
  background-image: url("../img/biz-leaders.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.biz-leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #013852;
  padding: 12rem 0;
}
.biz-text {
  letter-spacing: .3rem;
}
.biz-text h2:first-child {
  font-weight: bold;
}
.biz-text h1 {
  letter-spacing: .7rem;
  font-weight: bold;
  color: #F27523;
}
.biz-text h3 {
  letter-spacing: .8rem;
}

.three-points {
  width: 100%;
  padding-top: 3rem;
}
.hr {
  border: 1px solid lightgrey;
}
.hard-data h3 {
  letter-spacing: 2.2rem;
}

.real-solutions h1 {
  letter-spacing: .5rem;
}
.real-solutions h3:first-child {
  letter-spacing: .5rem;
}
.last-letter {
  letter-spacing: normal;
}

/* CHART SECTION */

.chart-section {
  padding: 10rem 0;
  color: white;
  text-align: center;
}
.hard-question-heading {
  color: white;
  text-shadow: 3px 3px 6px #1976D2;
}
.chart-div {
  flex-wrap: wrap-reverse;
  padding-top: 5rem;
}
.why-content {
  color: white;
  text-align: left;
  align-self: center;
  text-shadow: 3px 3px 6px #1976D2;
}
.last-place-heading {
  font-size: 6rem;
}
@media (min-width: 2000px) {
  .last-place-heading {
    font-size: 9rem;
  }
}
@media (max-width: 600px) {
  .why-content {
    text-align: center;
  }
}
.chart {
  box-shadow: 3px 3px 6px #1976D2;
  width: 100%;
  border-radius: 8px;
}

/* BRIDGE SECTION */

.bridge-section {
  padding: 10rem 0 0 0;
  margin: 0;
  color: white;
  text-align: center;
}
.hard-data-heading {
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 6px #1976D2;
}
.bridge-content {
  padding: 5rem 0 0 0;
  text-shadow: 3px 3px 6px #1976D2;
}
.bridge-content h4:first-of-type {
  letter-spacing: .7rem;
  color: #013852;
}
.bridge-content h4:last-of-type {
  letter-spacing: 1.3rem;
  color: #013852;
}
@media (max-width: 600px) {
  .bridge-content h4:first-of-type {
    letter-spacing: normal;
  }
  .bridge-content h4:last-of-type {
    letter-spacing: normal;
  }
}
.bridge-content h2 {
  font-weight: bold;
}

.bridge-background {
  position: relative;
  margin-top: -6rem;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
@media (max-width: 600px) {
  .bridge-background {
    margin-top: 0;
  }
}
.no-bridge {
  display: block;
  width: 100%;
  opacity: .99;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.only-bridge {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}


/* REAL SOLUTIONS CONTENT */

.real-solutions-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  margin-top: 1000px;
}

.second-balloon {
  width: 100%;
}

.real-solutions-content {
  background-color: white;
  color: navy;
  box-shadow: 3px 3px 6px grey;
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
}


/* FOOTER */

.footer {
  padding: 4rem 0;
  margin: 0;
  background-color: rgba(1,56,82, 1);
  color: white;
  text-align: center;
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
