/* Colors: Navy: #013852 or #022B44, Orange: #F27523....Font: Roboto 500, 400, 300 */

/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/clouds.png"), linear-gradient(180deg, #1976D2, #BBDEFB);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  display: block;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33.3%;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: 1s;
}
.col-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: 1s;
}
.col-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 66.667%;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: 1s;
}
.centered {
  /*margin: 0 auto;*/
  text-align: center;
}
.small-logo {
  height: 50px;
}
.large-logo {
  height: 15rem;
}
.center-dark {
  text-align: center;
  color: #212121;
  padding: 1rem;
  transition: 1s;
}
h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
}
h4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}
.hidden {
  transform: translate(0, 10rem);
  opacity: 0;
  height: 0;
  transition: 1s;
}
.fade-in {
  position: fixed;
  top: 25%;
  left: 25%;
  height: auto;
  opacity: 1;
  transform: translate(0, 0);
}
.fade-out {
  top: 0;
  opacity: 0;
}


/* HEADER */

.header {
  height: 70px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.nav a {
  font-size: 1rem;
  color: #212121;
  text-decoration: none;
  padding: .5rem 1rem;
  transition: .4s;
}
.nav a:hover {
  color: #F27523;
}
.nav a:last-child {
  padding: .5rem 0 .5rem 1rem;
}
.nav a:first-child {
  margin-right: auto;
}

/* BALLOON SECTION */

.balloon-section {
  padding: 10rem 0 10rem 0;
}
.balloon-figure {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0, 30rem);
  transition: 5s;
}
.balloon-float {
  transform: translate(0, -30rem);
}
.balloon-img {
  width: 70%;
}
.balloon-figure h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: -0.5rem;
}
.balloon-figure h1:last-of-type {
  font-weight: 500;
  font-size: 4.4rem;
}

/* TREE SECTION */

.tree-section {
  height: 80rem;
  margin: 0;
  padding: 10rem 0;
  background-image: url("../img/tree.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: white;
}
.tree-spacer {
  padding: 15rem 0;
}


/* BUSINESS LEADERS */

.business-section {
  font-weight: 500;
  background-image: url("../img/biz-leaders.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 0;
}
.biz-leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #F27523;
  transition: 1s;
}

/* CHART SECTION */

.chart-section {
  background-color: #013852;
  padding: 10rem 0;
  color: white;
  text-align: center;
}
.why-content {
  color: white;
  text-align: left;
}
.chart {
  box-shadow: 3px 3px 6px #212121;
  width: 100%;
  border-radius: 8px;
  opacity: .7;
}

/* BRIDGE SECTION */

.bridge-section {
  padding: 10rem 0 0 0;
  margin: 0;
}
.bridge-background {
  position: relative;
  margin-top: -8rem;
  padding: 0;
  box-sizing: border-box;
}
.no-bridge {
  display: block;
  width: 100%;
  opacity: .99;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.only-bridge {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

/* FOOTER */

.footer {
  padding: 4rem 0;
  margin: 0;
  background-color: #022B44;
  color: white;
  text-align: center;
}
.to-top-balloon {
  width: 10%;
  position: fixed;
  top: 0;
  left: 45%;
  margin-top: 40rem;
}
.light-link {
  color: white;
  transition: .4s;
  font-weight: 500;
}
.light-link:hover {
  cursor: pointer;
  color: #F27523;
}
